.center {
    text-align: center;
}

.right {
    text-align: right;
}

.top-margin-md {
    margin-top: 20px;
}

div.alert {
    height: 30px;
    margin: auto;
    padding: 4px 15px;
    position: relative;
    top: 110px;
    width: 500px;
    z-index: 1000;
}

/*********************************
 * SB Admin v2.0 Adjustments
 *********************************/
.sidebar {
    margin-top: 0px;
}

/*********************************
 * Footer
 *********************************/
footer {
    height: 60px;
}