div.alert {
    height: 30px;
    margin: auto;
    padding: 4px 15px;
    position: relative;
    top: 110px;
    width: 400px;
    z-index: 1000;
}

div.center {
    text-align: center;
}

div.right {
    text-align: right;
}